[user]
  email = chris@cjohnson.io
  name = Chris Johnson
[alias]
  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  a = add
  ap = add -p
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose

  d = diff
  ds = diff --stat
  dc = diff --cached

  ff = flow feature finish -F
  fs = flow feature start

  hf = flow hotfix finish -Fnp
  hs = flow hotfix start

  rh = reset --hard HEAD

  b = branch
  bl = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  s = status
  co = checkout
  cob = checkout -b
  # list branches sorted by last modified

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"
[push]
  default = matching
